# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Flask
instance/

# Logs
*.log