<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>DevAssist AI</title>

    <link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

</head>

<body>

    <button id="resetBtn" title="New Search">
        <i class="fa-solid fa-rotate-right"></i>
    </button>

    <button id="themeBtn" title="Toggle Theme">
        <i class="fa-solid fa-moon"></i>
    </button>

    <div class="container">

        <img
            src="{{ url_for('static', filename='logo.png') }}"
            class="logo"
            alt="DevAssist AI Logo"
        >

        <header>

            <h1>DevAssist AI</h1>

            <p>
                Intelligent Error Diagnosis Assistant
            </p>

        </header>




        <!-- =============================== -->
        <!-- Category -->
        <!-- =============================== -->

        <section class="card">

            <h2>Category</h2>

            <div class="buttons">

                <button id="languageBtn">
                    Programming Languages
                </button>

                <button id="toolBtn">
                    Programming Tools
                </button>

            </div>

        </section>



        <!-- =============================== -->
        <!-- Programming Languages -->
        <!-- =============================== -->

        <section id="languageSection" class="hidden">

            <div class="card">

                <h2>Language</h2>

                <select id="languageSelect">

                    <option value="">Select Language</option>

                    <option value="python">Python</option>

                </select>

            </div>


            <div class="card">


                <h2>Analyze By</h2>


                 <div class="radio-group">

                    <label>

                        <input
                            type="radio"
                            name="mode"
                            value="error"
                        >

                        Error Message

                    </label>


                    <label>

                        <input
                            type="radio"
                            name="mode"
                            value="code"
                        >

                        Code

                    </label>

                </div>


                <div id="errorSearchContainer" class="search-box hidden">

                    <h2>Search Error</h2>

                    <input
                        type="text"
                        id="errorSearch"
                        placeholder="Search Error..."
                    >

                    <div
                        id="suggestions"
                        class="suggestions"
                    ></div>


                    <p class="search-note">
                        Or describe your problem below if you don't know the error name.
                    </p>

                </div>




            </div>

        </section>



        <!-- =============================== -->
        <!-- Programming Tools -->
        <!-- =============================== -->

        <section id="toolSection" class="hidden">

            <div class="card">

                <h2>Tool</h2>

                <select id="toolSelect">

                    <option value="">Select Tool</option>

                    <option value="git">Git</option>

                    <option value="http">HTTP</option>

                </select>

                <div id="toolSearchContainer" class="search-box hidden">

                    <h2>Search Error</h2>

                    <input
                        type="text"
                        id="toolSearch"
                        placeholder="Search Error..."
                    >

                    <div
                        id="toolSuggestions"
                        class="suggestions"
                    ></div>


                    <p class="search-note">
                        Or describe your problem below if you don't know the error name.
                    </p>

                </div>

            </div>

        </section>



        <!-- =============================== -->
        <!-- Input -->
        <!-- =============================== -->

        <section
            id="inputSection"
            class="hidden card"
        >

            <h2 id="inputTitle">
                Describe Your Problem
            </h2>

            <textarea
                id="userInput"
                placeholder="Describe your problem or paste your code / error message here..."
            ></textarea>
            <div class="analyze-container">


                <div
                    id="loader"
                    class="loader hidden"
                >

                    <i class="fa-solid fa-spinner fa-spin"></i>

                    Analyzing...

                </div>


                <button id="analyzeBtn">
                    Analyze
                </button>


                <div
                    id="successMessage"
                    class="success-message hidden"
                >

                    <i class="fa-solid fa-circle-check"></i>

                    Analysis Completed

                </div>


            </div>

        </section>



        <!-- =============================== -->
        <!-- Result -->
        <!-- =============================== -->

        <section
            id="resultSection"
            class="hidden"
        >

            <div class="card">

                <h2 id="resultTitle">

                    Result

                </h2>


                <div id="analysisBox" class="hidden">

                    <p>
                        <strong>Error Type:</strong>
                        <span id="analysisError"></span>
                    </p>

                    <p>
                        <strong>Line:</strong>
                        <span id="analysisLine"></span>
                    </p>

                    <p>
                        <strong>Analyzer Message:</strong>
                        <span id="analysisMessage"></span>
                    </p>

                </div>


            </div>



            <details>

                <summary>Description</summary>

                <div id="description"></div>

            </details>



            <details>

                <summary>Common Causes</summary>

                <div id="causes"></div>

            </details>



            <details>

                <summary>Solution</summary>

                <div id="solution"></div>

            </details>



            <details>

                <summary>Example Code</summary>

                <div id="example"></div>

            </details>



            <details>

                <summary>Prevention Tips</summary>

                <div id="prevention"></div>

            </details>



            <details>

                <summary>Related Errors</summary>

                <div id="related"></div>

            </details>



            <details>

                <summary>Official Documentation</summary>

                <div id="documentation"></div>

            </details>

        </section>

    </div>

    <!-- =============================== -->
    <!-- Future Languages -->
    <!-- =============================== -->

    <section class="card future-card">

        <h2>🚀 Future Updates</h2>

        <h3 class="future-title">
            Future Programming Languages
        </h3>

        <div class="future-list">

            <span>C++</span>
            <span>SQL</span>
            <span>JavaScript</span>

        </div>

        <h3 class="future-title ai-title">
            Future AI Technologies
        </h3>

        <div class="future-list">

            <span>Machine Learning</span>
            <span>Deep Learning</span>
            <span>Computer Vision</span>
            <span>NLP</span>

        </div>

    </section>

        <script src="{{ url_for('static', filename='script.js') }}"></script>



    </body>

</html>
